name: Deploy a Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar Surge
        run: npm install --global surge

      - name: Deploy a Surge
        run: surge ./ --domain Rosme_pagina.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
